[submodule "TicTacToe"]
	path = TicTacToe
	url = https://github.com/XOwlPost/XOwlPost-TicTacToe
[submodule "XO-Lottery"]
	path = XO-Lottery
	url = https://github.com/XOwlPost/XO-Lottery
[submodule "LikesTokenV2"]
	path = LikesTokenV2
	url = https://github.com/XOwlPost/LikesTokenV2
[submodule "21XO-Joomla"]
	path = 21XO-Joomla
	url = https://github.com/XOwlPost/21XO-Joomla
[submodule "21XO-LMS"]
	path = 21XO-LMS
    url = https://github.com/XOwlPost/learning-management-system
[submodule "Discord"]
	path = Discord
	url =https://github.com/XOwlPost/Discord
